#contact {    padding-top: 80px;
    .tit{
        color: #000;
        font-size: 50px;
        font-weight: 600;
        width: 80%;
        margin: 0 auto 50px;
        @include tablet{ font-size: 7vw;}
    }
}
.contact__inner {
    .contact__text {
        width: 100%;
        height: 26vh;
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        @include tablet{ 
            height: 23vh;
        }

        .text {
            font-size: 1.5vw;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: underline;
            text-align: center;
            position: relative;
            z-index: 100;
            transition: all 0.3s;
            cursor: all-scroll;

            div + div{margin-top: 1vw;}
            @include tablet{ 
                font-size: 14px;
                padding: 0 16px;
                word-break: break-all;
            }
        }
    }
}