#header {
    @include position-fixed;
    z-index: 10000;
}
.header__inner {
    animation: header 1.5s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
    @include flex-between;
    padding: 1rem;
    width: 96%;
    margin: 20px auto 0;
    height: 100px;
    border: 1px solid #2e2e2e;
    background-color: #131416;
    .header__logo {
        font-size: 0.9rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        color: var(--white);
        h1{
            font-weight: 600;
        }
        em {
            font-size: 10px;
            display: block;
            font-weight: 500;
        }
    }
    
    .header__nav {

        @include tablet{
            // display: none;
            opacity: 0; /* 숨겨진 상태 */
           

            &.show {
                // display: block;
                opacity: 1; /* 보이는 상태 */ 
                transition: opacity 2s ease-in-out, transform 2s ease-in-out;
               
                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: var(--black200);
                    backdrop-filter: blur(15px);
                    z-index: 1;
                    width: 100%;
                    height: 100vh;
                    padding: 20px 0;
                    li + li {
                        margin-left: 0;
                    }
                    li {
                        display: block;
                        text-align: center;

                        a {
                            display: inline-block;
                            padding: 10px;
                            color: #fff;
                        }
                    }
                }
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        }
        li + li {
            margin-left: 3vw;
        }
        li {
            display: inline-block;
    
            a {
                >span{
                    display: block;
                }
                text-transform: uppercase;
                font-size: 14px;
                position: relative;
                color: var(--pointcolor);
                font-weight: 600;
                &::before {
                    content: '';
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--white);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0);
                    transition: all 0.3s;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
    
    .header__nav__mobile {
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @include tablet{
            display: block;
        }

        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--white);
            margin-top: 19px;
            position: relative;

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }
            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }
    }
} 

@keyframes header {
    0% {transform: translateX(100%); opacity: 0}
    100% {transform: translateX(0%); opacity: 1}
}