#intro {
    height: 100vh;
    background-color: var(--black200);
}

.intro__inner {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
    margin-left: 14%; justify-content: center;
    .intro__title {
        line-height: 1.2;    
        text-transform: uppercase;
        &.style01{
            color: var(--white200);
            font-weight: 300;
            font-size: 4vw;
            @include tablet{
                font-size: 5vw;
            }
            @include mobile{
                font-size: 5vw;
            }
        }
        &.style02{
            color: var(--pointcolor);
            font-weight: 700;
            font-size: 5vw;
            @include tablet{
                font-size: 8vw;
            }
            @include mobile{
                font-size: 9vw;
            }
        }
        &.split span {
            opacity: 0;
        }

    }
    .intro__text {
        color: var(--white);
        padding-top: 30px;
        opacity: 0;
        animation: textup 1s ease-in-out forwards;
        animation-delay: 5s;
        .text {
            font-size: 1.2vw;
            line-height: 1.5;
            font-weight: 400;
            text-align: left;
            @include tablet{
                font-size: 3vw;
            }
            @include mobile{
                font-size: 3vw;
            }
        }
    }
}


@keyframes textup {
    0% {transform: translateY(50%); opacity: 0}
    100% {transform: translateY(0%); opacity: 1}
}