#site{
    background-color: var(--black200);
    padding-top: 80px;
    .tit{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin: 0 auto 50px;
        @include tablet{ font-size: 7vw;}
    }}
.site__inner {
    width: 80%;
    margin: 0 auto;
}
.project {position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.num {width: 25%;
    font-size: 16vw; font-weight: 900; line-height: 0.78;
    color: transparent;
    -webkit-text-stroke: 1px var(--pointcolor);
    position: sticky; top: 150px;
    transition: .3s ease-in-out;
}
.project.active .num {color: var(--pointcolor);}
.pro_cont {
    width: 70%;
    figure img {display: block}
    .pro_desc {margin: 40px 0;
        display: flex;flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;color: #fff;
        border-top: 1px solid rgba(255,255,255,0.3);
        h4 {font-size: 3vw; font-weight: 600; line-height: 1.8}
        p {line-height: 1.8;}
        a.more {
            font-size: 18px; line-height: 1.8; 
        }
    }
}