
#about{    
    background-color: #131416;
    .tit{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        width: 80%;
        margin: 0 auto 50px;
        @include tablet{ font-size: 7vw;}
    }
    .skill__inner {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
        padding: 30px 30px 30px 30px;
        background-color: #fcfcfc;
        border: 1px solid #ddd;
        @include tablet{ 
            flex-direction: column;
            width: 100%;
        }
        .ability {
            display: flex;
            .con1{
                width: 100%;
                box-sizing: border-box;
                font-size: 15px;
                margin-top: 50px;
                display: flex;
                @include tablet{
                    flex-direction: column;
                    margin-top: 10px;
                }
                .aboutimg{
                    width:50%;display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include tablet{
                        width:100%;
                    }
                    img{width: 26%;}
                    .name{
                        font-size: 28px;
                        font-weight: 600;
                        margin-top: 20px;
                        @include tablet{
                            font-size: 14px;
                            margin-top: 10px;
                        }
                    }
                    .keyword{
                        width: 100%;
                        float: left;
                        margin: 20px 0px;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        @include tablet{
                            margin: 10px 0px;
                        }
                    }
                    .keyword span{
                        border: 1px solid;
                        box-sizing: border-box;
                        color: #ffffff;
                        background-color: #EA543C;
                        border-radius: 15px;
                        padding: 3px 10px;
                        margin: 3px 2px;
                        @include tablet{
                            padding: 3px 8px;
                            margin: 1px 1px;
                            font-size: 10px;
                        }
                    }
                }
                .abouttext{
                    width:50%;
                    @include tablet{
                        width:100%;
                    }
                    .title{
                        font-size: 20px;
                        font-weight: 600;
                        margin: 25px 0px;
                        @include tablet{
                            margin: 8px 0px;
                        }
                    }
                    .text span{display: block; font-size: 17px;text-indent: 15px;}
                }
                
            }
        }
    }
}

.skill_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    @include tablet{ 
        display: none;
    }
    .skill_wrap {
        width: 20%;
        .skill_desc{
            p {display: block; color: var(--pointcolor);
                font-size: 50px; font-weight: 600; line-height: 1.5;;
                &::after{
                    content: "%";
                }
            }
            em {color: #fff; font-size: 20px; line-height: 1.8}
        } 
    }
}